@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

:root {
  --primary: #634ee7;
  --border-radius: 4px;
}

html,
body {
  min-height: 100%;
}

a {
  text-decoration: none;
}
$spacer: 0.5rem;
$spacer-x: $spacer;
$spacer-y: $spacer;
$spacers: (
  0: (
    x: 0,
    y: 0,
  ),
  h: (
    x: (
      $spacer-x * 0.5,
    ),
    y: (
      $spacer-y * 0.5,
    ),
  ),
  1: (
    x: $spacer-x,
    y: $spacer-y,
  ),
  2: (
    x: (
      $spacer-x * 1.5,
    ),
    y: (
      $spacer-y * 1.5,
    ),
  ),
  3: (
    x: (
      $spacer-x * 3,
    ),
    y: (
      $spacer-y * 3,
    ),
  ),
  4: (
    x: (
      $spacer-x * 4,
    ),
    y: (
      $spacer-y * 4,
    ),
  ),
  5: (
    x: (
      $spacer-x * 5,
    ),
    y: (
      $spacer-y * 5,
    ),
  ),
  6: (
    x: (
      $spacer-x * 6,
    ),
    y: (
      $spacer-y * 6,
    ),
  ),
);

@mixin spacing() {
  @each $prop, $abbrev in (margin: m, padding: p) {
    @each $size, $lengths in $spacers {
      $length-x: map-get($lengths, x);
      $length-y: map-get($lengths, y);

      .#{$abbrev}-#{$size} {
        #{$prop}: $length-y $length-x !important;
      }
      .#{$abbrev}t-#{$size} {
        #{$prop}-top: $length-y !important;
      }
      .#{$abbrev}r-#{$size} {
        #{$prop}-right: $length-x !important;
      }
      .#{$abbrev}b-#{$size} {
        #{$prop}-bottom: $length-y !important;
      }
      .#{$abbrev}l-#{$size} {
        #{$prop}-left: $length-x !important;
      }
    }
  }
}

@include spacing;

.page {
  display: grid;
  grid-template-columns: 60px 1fr;
  height: 100vh;

  &-title {
    font-size: 28px;
    font-weight: normal;
    line-height: 38px;
    * {
      font-size: inherit;
    }
  }

  &-header {
    position: relative;
  }
}
.page-header-bg {
  @media(min-width:992px){
    display: block;
  }
  display: none;
  position: absolute;
  right: 0;
  max-width: 100%;
  height: auto;
  top: 0;
  z-index: -1;
}
.navigation {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  padding: 32px;
  position: relative;
  z-index: 1;

  @media (min-width: 769px) {
    padding: 72px;
  }
  background-color: #f9f9f9;
}

.btn {
  display: inline-flex;
  padding: 12px 16px;
  border-radius: var(--border-radius);
  .svg {
    margin-left: auto;
  }
  &-wmin {
    min-width: auto;
    display: flex;
    @media (min-width: 500px) {
      min-width: 238px;
      display: inline-flex;
    }
    justify-content: space-between;
  }
  &-primary {
    background-color: var(--primary);
    color: white;
    border: 1px solid var(--primary);
    transition: all 0.3s;
    svg {
      fill: #fff;
    }
    &:hover {
        background-color:#674FFB;
        transform:translateY(-5px);
    }
  }

  &-outline {
    border: 1px solid;
    border-color:inherit;
    background: transparent;
    color: var(--primary);
    transition: all 0.3s;
    svg {
      fill: var(--primary);
    }
    &:hover {
        color:#000;
        transform:translateY(-5px);
        svg {
            fill: inherit;
        }
    }
  }
  &-flush {
    padding: 0;
  }
  &-ghost {
    background-color: transparent;
    color: var(--primary);
    font-weight: bold;

    svg {
      fill: var(--primary);
      margin-left: 12px;
    }
  }
}

.btn-inline {
  margin: -8px;
  .btn {
    margin: 8px;
  }
}

.menu {
  list-style: none;
  > li {
    margin-bottom: 10px;
    > a {
      display: block;
      padding: 10px 14px;
      .icon {
        display: inline-block;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        background-color: #f9f9f9;
      }
      &.active {
        background-color: #fff;
        .icon {
          background-color: var(--primary);
        }
      }
    }
  }
}

.card {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(91, 91, 91, 0.15);
  border-radius: var(--border-radius);
  padding: 24px;
  display: inline-grid;
  grid-template-columns: 32px 1fr;
  grid-gap: 15px;
  max-width: 350px;
  transition: all 0.3s;

  &:hover {
      transform:translateY(-5px);
    box-shadow: 0px 10px 10px rgba(91, 91, 91, 0.1);
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }

  &__summery {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #828282;
  }

  .btn-hasArrow {
      svg {

          transition: all 0.3s;
      }
      &:hover {
          svg {

              transform:translateX(10px);
          }
      }
  }
}

.card-lists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: auto;
  grid-gap: 30px;

  .card {
    max-width: 100%;
  }
}
